
    

      .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #2A363B;
      }
    .link {
      display: inline-block;
      /* text-decoration: none; */
      padding-right: 20px;
      /* font-weight: 700; */
      font-size: 20px;
      color: #2A363B;
    }
    .activeLink {
      color: palevioletred;
    }

    .nav {display: flex}

    .title{
      text-align: center;
    }
