
.NavLink {
    font-size: 20px;
    color: currentColor;
  }
  
  .NavLinkActive {
    color: palevioletred;
  }
  .list {
    display: flex;
    list-style: none;
  }
  .item {
    margin-right: 20px;
  }
  .container {
    width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .name {
    font-weight: 700;
    margin-right: 12;
  }